# n8n Configuration
N8N_PORT=5678
N8N_HOST=127.0.0.1
N8N_LISTEN_ADDRESS=127.0.0.1
WEBHOOK_URL=http://127.0.0.1:5678/
N8N_USER_FOLDER=./.n8n
N8N_DIAGNOSTICS_ENABLED=false
N8N_METRICS=false
N8N_HIRING_BANNER_ENABLED=false
N8N_PERSONALIZATION_ENABLED=false
N8N_BLOCK_ENV_ACCESS_IN_NODE=false

# PocketBase URL
POCKETBASE_URL=http://127.0.0.1:8090

# Groq Cloud API
# Obtén tu API Key gratuita en https://console.groq.com
GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL=llama-3.3-70b-versatile
