# Contrasena para acceder a la interfaz web (tgcf-web). Por defecto es "tgcf"
PASSWORD=tgcf

# Opcional: Si deseas almacenar la configuracion en MongoDB en lugar del archivo local tgcf.config.json
# MONGO_CON_STR=mongodb+srv://...
